body{
    display: flex;
    justify-content: center;
    background-color: rgba(99, 136, 238, 0.616);
    font-family: 'Lato', sans-serif;

}
.container{
    width: 50%;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}